<div class="panel panel-default" style="padding:10px;">
    <div class="row" style="text-align: center;">
        <div class="col-lg-12">
            <strong style="font-size: 12px;">尊贵的用户：{{user.userName}} 您好!　 您的可用金额为：<strong style="color:red;font-size: 15px;">{{user.amount}}</strong> 元,  登陆时间：{{user.loginTime}} IP：{{user.loginIP}}</strong>
        </div>
    </div>
    <div class="row" style="padding:10px;padding-top:10%">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-target="#nav1-Sup2" data-toggle="tab" aria-expanded="false">查看已购商品</a>
            </li>
            <li class="">
                <a data-target="#nav1-Sup3" data-toggle="tab" aria-expanded="false">充值</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade  active in" id="nav1-Sup2">
                <div style="padding:10px;">
                    创业
                </div>
            </div>
            <div class="tab-pane fade " id="nav1-Sup3">
                <div style="padding:10px;">
                    运营
                </div>
            </div>
        </div>
    </div>
</div>