<!-- Marketing Icons Section -->
<div class="row" style="flex-flow: row wrap;display: flex">
    <div class=" product-div" ng-repeat="x in InfoList">
        <div class="thumbnail" ng-click="GoProduct(x)">
            <!--<img src="..." alt="...">-->
            <img src="{{x.logImg}}" class="img-rounded" />
            <div class="caption" >
                <p><a ng-bind="x.productDesc"></a></p>
                <p>
                    <strong style="color:red;">
                        <span ng-show="x.price>0">￥<span ng-bind="x.price"></span> 或 </span>
                        <span ng-show="x.invs>0"><span ng-bind="x.invs"></span>.Clicks</span>
                    </strong>
                    <!--<div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>-->
                    <span class="kucun">库存:<span ng-bind="x.stock"></span></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align:center;margin-left: 30%;">
    <div style="margin-left:15px;">
        <div class="row">
            <tm-pagination conf="paginationConf">
            </tm-pagination>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Section -->
