<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Api Info</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/tmPagination.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/top.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="myApp">
    <!-- Navigation -->
    <nav class="mynavbar navbar navbar-default navbar-fixed-top ng-cloak" role="navigation" ng-controller="NavbarCtrl"
         style="background-color:#3a7bca;">
        <div class="row mytop" style="background: #f3f9ff">
            <div style="margin:0px 15% 0px 15%">
                <div class="col-sm-5" style="text-align:left;">
                    <img src="imgs/gonggao.png" style="width: 20px;height: 20px;" />最新公告：
                    <span style="color:red;">如何出货快？ 你完全清楚么？</span>
                </div>
                <div class="col-sm-7 account-btn" style="text-align:right;">
                    <!--<span style="padding-right: 20px;">
                        <img src="imgs/vip.png" /><span style="color:red;">会员购买  </span>
                        <span style="color:red;">充值</span>
                    </span>-->
                    <strong ng-show="user.userId"><span href="javascript:;">用户名：{{user.userName}}</span> · <span style="color:red;cursor: pointer;" ng-click="GoUserCenter()">会员中心</span> · <span style="cursor: pointer;" ng-click="SignOut()">退出会员</span> </strong>
                    <a class="btn btn-info" ng-show="!user.userId" href="login.html">登陆</a> &nbsp;&nbsp;
                    <a class="btn btn-info" ng-show="!user.userId" href="regiest.html">注册</a>
                </div>
            </div>
        </div>
        <div class="row" style="background:#fff ;height: 13px;"> </div>
        <div class="row" style="background: #fff;">
            <div style="margin:0px 15% 0px 15%">
                <div class="col-sm-3" style="text-align:left;">
                    <h2><strong>asadfasdfa</strong></h2>
                </div>
                <div class="col-sm-4 " style="text-align:right;">
                    <div class="input-group" style="margin-top: 20px;width: 300px;">
                        <input type="text" class="form-control" placeholder="请输入商品名">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="background-color: #3280fc;color: white;">搜索</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-5 account-btn" style="text-align:right;">
                    <img src="imgs/kefuzhongxin.png" style="width: 200px; margin-left: 50px;" />
                    <!--<img src="imgs/qrcode.png" />-->
                </div>
            </div>
        </div>
        <div class="row" style="background:#fff ;height: 8px;"></div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">首页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li ng-repeat="item in ProductTypes">
                        <a href="#/webSite" ng-bind="item.pt_Name"></a>
                    </li>
                    <!--<li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">用户 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                            <a href="#/login" ng-show="">登陆</a>
                        </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="SignOut()" ng-show="CurrentPage!='Login'">注销</a>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header Carousel -->
    <!-- Page Content -->
    <div class="container " style="margin-top: 20px;">
        <div ng-view></div>

        <footer>
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-6">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#nav1-Sup1" data-toggle="tab" aria-expanded="true">每日资讯</a>
                        </li>
                        <li class="">
                            <a data-target="#nav1-Sup2" data-toggle="tab" aria-expanded="false">创业</a>
                        </li>
                        <li class="">
                            <a data-target="#nav1-Sup3" data-toggle="tab" aria-expanded="false">运营</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nav1-Sup1">
                            <div style="padding:10px;">
                                每日资讯
                            </div>
                        </div>
                        <div class="tab-pane fade " id="nav1-Sup2">
                            <div style="padding:10px;">
                                创业
                            </div>
                        </div>
                        <div class="tab-pane fade " id="nav1-Sup3">
                            <div style="padding:10px;">
                                运营
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#nav2-Sup1" data-toggle="tab" aria-expanded="true">微信</a>
                        </li>
                        <li class="">
                            <a data-target="#nav2-Sup2" data-toggle="tab" aria-expanded="false">电商</a>
                        </li>
                        <li class="">
                            <a data-target="#nav2-Sup3" data-toggle="tab" aria-expanded="false">营销</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nav2-Sup1">
                            <div style="padding:10px;">
                                微信
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav2-Sup2">
                            <div style="padding:10px;">
                                电商
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav2-Sup3">
                            <div style="padding:10px;">
                                营销
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2018</p>
                </div>
            </div>
        </footer>
    </div>
    <div ng-include="'views/template/loading.html'"></div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.bootcss.com/ngStorage/0.2.0/ngStorage.min.js"></script>

    <script src="scripts/environment/jqueryextends.js"></script>
    <script src="scripts/environment/common.js"></script>
    <script src="scripts/plugin/tm.pagination.js"></script>
    <script src="scripts/environment/directives.js"></script>
    <script src="scripts/environment/services.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/interceptor.js"></script>
    <script src="scripts/route.js"></script>
    <script src="scripts/controllers/NavbarCtrl.js"></script>
    <script src="scripts/controllers/ProductListCtrl.js"></script>
    <script src="scripts/controllers/ProductCtrl.js"></script>
    <script src="scripts/controllers/MyCtrl.js"></script>

    <script src="scripts/controllers/UnProcessCtrl.js"></script>
    <script src="scripts/controllers/WebSiteCtrl.js"></script>
    <script src="scripts/controllers/PreProcessCtrl.js"></script>
    <script src="scripts/controllers/PublishInfoCtrl.js"></script>
    <script src="scripts/controllers/LoginCtrl.js"></script>
</body>
</html>
