<!--<footer>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-lg-6">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#nav1-Sup1" data-toggle="tab" aria-expanded="true">每日资讯</a>
                </li>
                <li class="">
                    <a data-target="#nav1-Sup2" data-toggle="tab" aria-expanded="false">创业</a>
                </li>
                <li class="">
                    <a data-target="#nav1-Sup3" data-toggle="tab" aria-expanded="false">运营</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="nav1-Sup1">
                    <div style="padding:10px;">
                        每日资讯
                    </div>
                </div>
                <div class="tab-pane fade " id="nav1-Sup2">
                    <div style="padding:10px;">
                        创业
                    </div>
                </div>
                <div class="tab-pane fade " id="nav1-Sup3">
                    <div style="padding:10px;">
                        运营
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#nav2-Sup1" data-toggle="tab" aria-expanded="true">微信</a>
                </li>
                <li class="">
                    <a data-target="#nav2-Sup2" data-toggle="tab" aria-expanded="false">电商</a>
                </li>
                <li class="">
                    <a data-target="#nav2-Sup3" data-toggle="tab" aria-expanded="false">营销</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="nav2-Sup1">
                    <div style="padding:10px;">
                        微信
                    </div>
                </div>
                <div class="tab-pane fade" id="nav2-Sup2">
                    <div style="padding:10px;">
                        电商
                    </div>
                </div>
                <div class="tab-pane fade" id="nav2-Sup3">
                    <div style="padding:10px;">
                        营销
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2018</p>
        </div>
    </div>
</footer>-->

    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        <img src="imgs/logofooter.png" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Customer Service</h4></div>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>My Account</h4></div>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Gift Vouchers</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Contact Us</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-home"></span>California, United States 3000009</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>+91 8866888111</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Copyright &copy; 2019.Company name All rights reserved.
                    </div>
                    <!--<div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="images/visa-curved-32px.png" /></li>
                                <li><img src="images/paypal-curved-32px.png" /></li>
                                <li><img src="images/discover-curved-32px.png" /></li>
                                <li><img src="images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </footer>