<!--<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="index.productList({tpid:''})">首页</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
            <li ng-repeat="item in ProductTypes">
                <a ui-sref="index.productList({tpid:{{item.pt_Id}}})" ng-bind="item.pt_Name"></a>
            </li>
        </ul>
    </div>
</div>-->
<!--Navigation-->
<nav id="menu" class="navbar">
    <div class="container">
        <div class="navbar-header">
            <span id="heading" class="visible-xs">类别</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="index">首页</a></li>
                <li class="dropdown" ng-repeat="item in ProductTypes">
                    <a ui-sref="index.productList({tpid:{{item.pt_Id}}})" class="dropdown-toggle" data-toggle="dropdown" ng-bind="item.pt_Name"><span></span></a>
                    <div class="dropdown-menu" ng-show="item.childrens&&item.childrens.length>0">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li ng-repeat="children in item.childrens"><a ui-sref="index.productList({tpid:{{children.pt_Id}}})" data-stopPropagation="true" ng-bind="children.pt_Name">Window</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Laptops &amp; Notebooks</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Dell</a></li>
                                <li><a href="category.html">Asus</a></li>
                                <li><a href="category.html">Samsung</a></li>
                                <li><a href="category.html">Lenovo</a></li>
                                <li><a href="category.html">Acer</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobiles &amp; Tablet</a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Iphone</a></li>
                                <li><a href="category.html">Samsung</a></li>
                                <li><a href="category.html">Nokia</a></li>
                                <li><a href="category.html">Lenovo</a></li>
                                <li><a href="category.html">Google</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">Nexus</a></li>
                                <li><a href="category.html">Dell</a></li>
                                <li><a href="category.html">Oppo</a></li>
                                <li><a href="category.html">Blackberry</a></li>
                                <li><a href="category.html">HTC</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">LG</a></li>
                                <li><a href="category.html">Q-Mobiles</a></li>
                                <li><a href="category.html">Sony</a></li>
                                <li><a href="category.html">Wiko</a></li>
                                <li><a href="category.html">T&T</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="category.html">Software</a></li>-->
            </ul>
        </div>
    </div>
</nav>